.projects {
    background: #3acfd5 ;
    width: 100wv;
    max-width: inherit;
    min-height: 660px;
    display: grid;
    box-sizing: border-box;
}

.project-list {
    margin:0% 10%;
}

.madiv {
    margin: 60px 0px 120px;
}
